<% provide(:title, @user.name) %> 
<div class="row">
  <aside class="span4">
    <section>
		<h1>
			<%= link_to "Create Band", newband_path, class: "btn btn-large btn-primary" %>
			<%= @user.name %> 
		</h1>
    </section>
  </aside>
</div>